<!DOCTYPE html>
<html>

<head>
    <title>Dashboard de Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/icon/tablero.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='icon/tablero.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="w3-theme-l5 hidden">
    <div class="centrado" id="onload">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a href="{{url_for('tablero')}}" style="text-decoration:none;" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>D-TAPS</a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="{{url_for('logout')}}" class="w3-bar-item w3-button w3-padding-large">Salir de sesión</a>
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px; margin-bottom: 335px;">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="jumbotron shadow-lg">
                <h1 class="display-5 text-center text-dark">Mis Datos</h1>
                <div class="row">
                    <div class="col">
                        <div class="table-responsive">
                            <table class="w3-table-all w3-large">
                                <thead>
                                    <tr>
                                        <th class="text-light w3-teal">Nombres</th>
                                        <th class="text-light w3-teal">Apellidos</th>
                                        <th class="text-light w3-teal">Usuario</th>
                                        <th class="text-light w3-teal">Contraseña</th>
                                        <th class="text-light w3-teal">Contraseña confirmada</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{ resu_per['nom_usuario'] }}</td>
                                        <td>{{ resu_per['ape_usuario'] }}</td>
                                        <td>{{ resu_per['usr_usuario'] }}</td>
                                        <td>{{ resu_per['contra'] }}</td>
                                        <td>{{ resu_per['v_contra'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Grid -->
        </div>
        <!-- End Page Container -->
    </div>
    <br>

    <!-- pie de página -->
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h4>&copy; D-TAPS </h4>
        <a href="#" class="w3-button w3-black w3-margin-right"><i class="fa fa-arrow-up w3-margin-right"></i>Ir</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Desarrollado por: Ing. Oscar López & Ing. Gabriel Morejón</p>
    </footer>

    <script>
        // Accordion 
        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>
    <script src="{{url_for('static', filename='js/carga_pagina.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>