<!DOCTYPE html>
<html>

<head>
    <title>Dashboard de Usuario</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="static/icon/tablero.png" type="image/x-icon">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="shortcut icon" href="{{url_for('static', filename='icon/tablero.png')}}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="hidden">
    <div class="centrado" id="onload">
        <div class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>

    <!-- Navbar -->
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
            <a href="{{url_for('tablero')}}" class="w3-bar-item w3-button w3-padding-large w3-theme-d4"><i class="fa fa-home w3-margin-right"></i>D-TAPS</a>
        </div>
    </div>

    <!-- Navbar on small screens -->
    <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large">
        <a href="{{url_for('logout')}}" class="w3-bar-item w3-button w3-padding-large">Salir de sesión</a>
    </div>

    <!-- Page Container -->
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px; margin-bottom:130px;">
        <!-- The Grid -->
        <div class="w3-row">
            <!-- Left Column -->
            <div class="w3-col m3">
                <!-- Profile -->
                <div class="w3-card w3-round w3-white">
                    <div class="w3-container">
                        <p class="w3-center" style="margin-top:6px;"><img src="{{url_for ('static', filename ='/icon/user.png')}}" class="w3-circle" style="height:30px;width:30px" alt="Avatar"></p>
                        <h4 class="w3-center">Bienvenid@ <b><kbd>{{username}} </kbd></b></h4>
                    </div>
                </div>
                <br>

                <!-- Accordion Menu  -->
                <div class="w3-card w3-round">
                    <div class="w3-white">
                        <button onclick="myFunction('Demo1')" class="w3-button w3-block w3-theme-l1 w3-left-align"><i class="fa fa-cogs fa-fw w3-margin-right"></i> Utilidades</button>
                        <div id="Demo1" class="w3-hide w3-container">
                            <a href="{{url_for('perfil')}}" class="w3-bar-item w3-button"><i class="fa fa-user"></i> Ver perfil</a>
                            <a href="{{url_for('logout')}}" class="w3-bar-item w3-button"><i class="fa fa-sign-out"></i> Salir de Sesión</a>
                        </div>
                    </div>
                </div>
                <br>
                <!-- End Left Column -->
            </div>

            <!-- Middle Column -->
            <div class="w3-col m7">
                <div class="w3-row-padding">
                    <div class="w3-col m12">
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container w3-padding">
                                <h6 class="w3-opacity">Panel de Análisis del Sistema</h6>
                                <p contenteditable="true" class="w3-border w3-padding"><b>Estado:</b> Listo para su funcionamiento</p>
                                <br>
                                <a href="{{ url_for('live')}}" class="w3-button w3-teal"><i class="fa fa-cog"></i> Comenzar Análisis</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Right Column -->
            <div class="w3-col m2" style="margin-top: 15px;">
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container" style="padding: 10px;">
                        <p><b>Dato Importante</b></p>
                        <img src="{{url_for ('static', filename ='/icon/marigold.png')}}" style="height:30px;width:30px" alt="Avatar">
                        <p>Hoy es</p>
                        <p id="fecha"></p>
                    </div>
                </div>
                <br>
                <br>
                <div class="w3-card w3-round w3-white w3-center">
                    <div class="w3-container" style="padding: 10px;">
                        <p><b>Recuerda!</b></p>
                        <img src="{{url_for ('static', filename ='/icon/b_agua.png')}}" style="height:30px;width:30px" alt="Avatar">
                        <p>Debes beber agua al menos 6 veces al día</p>
                        <br>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <!-- pie de página -->
    <footer class="w3-container w3-padding-32 w3-light-grey w3-center">
        <h4>&copy; D-TAPS </h4>
        <a href="#" class="w3-button w3-black w3-margin-right"><i class="fa fa-arrow-up w3-margin-right"></i>Ir</a>
        <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Desarrollado por: Ing. Oscar López & Ing. Gabriel Morejón</p>
    </footer>



    <script>
        // Accordion
        function myFunction(id) {
            var x = document.getElementById(id);
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
                x.previousElementSibling.className += " w3-theme-d1";
            } else {
                x.className = x.className.replace("w3-show", "");
                x.previousElementSibling.className =
                    x.previousElementSibling.className.replace(" w3-theme-d1", "");
            }
        }

        // Used to toggle the menu on smaller screens when clicking on the menu button
        function openNav() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
        document.getElementById('fecha').innerHTML = Date();
    </script>

    <script src="{{url_for('static', filename='js/carga_pagina.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</body>

</html>